@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-areas {
      grid-template-areas: "Dashboard Diary Repos Pswd-Mngr Links";
    }
    .Dashboard {
      grid-area: Dashboard;
    }
    .Diary {
      grid-area: Diary;
    }
    .Repos {
      grid-area: Repos;
    }
    .Pswd-Mngr {
      grid-area: Pswd-Mngr;
    }
    .Links {
      grid-area: Links;
    }
  }  